div.dataTables_filter label input[type='text']{
	display:inline;

}

div.inner_detail{
	margin-left:0px;
	padding:10px 10px 30px 10px;
}

.dataTables_filter {
	float: right;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: -28px;
    text-align: left;
    width: auto;
}
.dataTables_filter input{
	margin-bottom:0px;
 	height:13px;
	padding:4px;
}

.dataTables_paginate {
    margin-bottom: 3px;
    margin-top: 2px;
}
.dataTables_paginate a{
	background:#ffffff;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-weight:normal;
	border:1px solid #cccccc;
	}
.dataTables_paginate a:hover{
	background:#cccccc;
	color:#333333;
	border:1px solid #c1c1c1;
	}
.dataTables_paginate disable{
	color:#999999;
	}
.table td{
	padding:2px;
}
.table th{
	padding:5px;
	background:#666666;
}

.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 0px;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 0px;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #F7F7F7;
}
.table-bordered tbody tr td:first-child, .table-bordered tfoot tr td:first-child {
    border-left: 1px solid #DEDEDE;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #FFF;
}

/*.sorting_asc { background: #666666 url('images/sort_asc.png') no-repeat center right !important; }

.sorting_desc {
	background: #666666 url('images/sort_desc.png') no-repeat center right !important;
}

.sorting { background: #666666 url('images/sort_both.png') no-repeat center right !important; }*/

.sorting_asc_disabled {
	background: #666666 url('images/sort_asc_disabled.png') no-repeat center right !important;
}

.sorting_desc_disabled {
	background: #666666 url('images/sort_desc_disabled.png') no-repeat center right !important;
}

.table{
	margin-bottom:10px;
}
