{% extends "popup_base.html" %}
{% block popup_content %}
<form class="popup-form" action="/nb_delete/?{{nb_name}}" method='post'>
    <fieldset>
          <legend>Delete Notebook</legend>
          <label class='error_label' id='non_field_errors'>Are you sure you want to permanently delete the notebook: {{nb_name}}?</label>
    </fieldset>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a class="btn cancel_button">Cancel</a>
    </div>
</form>
{% endblock %}