{% extends "layout.html" %}
{% block extra_head %}
<head>
  <meta charset="UTF-8">
  <title>NoteBook Run Environment</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">
		$(function(){
			var iframe = $('#notebook')
			iframe.load(function(){ 
				iframe.contents().find('#new_notebook').remove(); 
				iframe.contents().find('#open_notebook').remove(); 
				iframe.contents().find('#copy_notebook').remove(); 
				iframe.contents().find('#rename_notebook').remove(); 
			})
		})
	</script>
</head>
{% endblock %}

{% block body %}
<body>
  <iframe id="notebook" name="inlineframe" src="{{nb_url}}" frameborder="0" scrolling="auto" width="1280" height="700" marginwidth="5" marginheight="5" ></iframe>
</body>
{% endblock %}